@font-face {
  font-family: "StyleScript";
  src: url(".https://react-web-composer.ecsion.com/fonts/Style_Script.ttf") format("truetype");
}

/* Invitation Card Styling */
.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  text-transform: capitalize;
  text-align: center;
}

.invitation-title {
  font-family: "StyleScript";
  max-width: 400px;
  font-size: 50px;
  color: #f7c57e;
}

.invitation-description {
  font-family: "StyleScript";
  font-size: 23px;
  max-width: 300px;
  font-weight: 400;
  color: #ffffff;
}

.groom-bride-section {
  margin-top: 35px;
  margin-bottom: 35px;
}

.your-name {
  font-weight: 400;
  font-size: 50px;
  font-family: "StyleScript";
  color: #f7c57e;
  line-height: 0.5;
}

.and img {
  width: 40px;
}

.partner-name {
  font-weight: 400;
  font-size: 50px;
  font-family: "StyleScript";
  color: #f7c57e;
  line-height: 0.5;
}

.invitation-date-section {
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.invitation-time {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

.invitation-day {
  font-size: 16px;
  font-weight: 700;
}

.invitation-date {
  color: #f7c57e;
  font-family: "StyleScript";
  font-size: 50px;
  font-weight: 500;
  margin: 0 20px;
  line-height: 0.6;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 15px 25px;
}

.invitation-year {
  font-weight: 600;
}

.invitation-month {
  font-size: 16px;
  font-weight: 600;
}

img.img-top,
img.img-bottom {
  width: 50%;
}

.invitation-address {
  font-size: 14px;
  font-weight: 600;
  max-width: 300px;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 40px;
  font-family: "poppins", sans-serif;
}

.following-party {
  font-family: "StyleScript";
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  color: #ffffff;
}