@font-face {
    font-family: 'birallina-regular';
    src: url('../fonts/birallina-regular.ttf') format('truetype');
}

.main-section {
    max-width: 562px;
    width: 100%;
    height: 787px;
    flex-direction: column;
    display: flex;
    padding: 30px 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://ecsiondevstorage.blob.core.windows.net/wedding-storage/BCB1FEA2-CD4C-42C0-86C2-E4AD9F7F9DA9.png);
    font-family: "Poppins", sans-serif;
}


.title {
    font-size: 40px;
    font-family: 'birallina-regular';
    color: #C49C6D;
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
}

.description {
    max-width: 212px;
    width: 100%;
}
.description p {
    text-align: left;
    margin-top: 20px;
}
.relation-name{
    color: #333333;
    font-weight: 600;
    font-size: 18px;
}
.relative-name{
    color: #333333;
}
.couple-image {
    text-align: left;
    width: 100%;
}

.couple-image img {
    margin: 0 auto;
    object-fit: contain;
    max-width: 300px;
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 6px;
}


@media (max-width: 562px) {
    .main-section {
        min-height: 100vh;
        background-image: url(https://ecsiondevstorage.blob.core.windows.net/wedding-storage/009661E6-665C-4B8F-92C9-1AA2201A67B4.png);

    }
    .description {
        max-width: 194px;
    }
    .couple-image {
        text-align: center;
        width: 100%;
    }
}