@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "NewBaskervilleBT";
  src: url("../fonts/NewBaskervilleBT.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #383B34;
}
.invitation-card {
  height:  787px;
  width: 562px;
  flex-direction: column;
  display: flex;
  padding: 65px 30px;
  background-size: cover;
 background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #E9E2DA;
}
.couple-img {
  width: 100%;
}

.invitation-month {
  font-family: "NewBaskervilleBT";
  
  text-align: center;
  font-size: 200px;
  line-height: 1;
}
.invitation-date {
  font-family: "NewBaskervilleBT";
  
  text-align: center;
  font-size: 200px;
  line-height: 1;
}
.invitation-year {
  font-family: "NewBaskervilleBT";
  
  text-align: center;
  font-size: 200px;
  line-height: 1;
}
.groom-bride-section {
  font-family: "Great Vibes", cursive;
  font-size: 28px;
  letter-spacing: 2px;
  padding: 15px 0px;
  display: flex;
 justify-content: center;
 gap: 10px;

}
.invitation-address{
  color: #454444;
  letter-spacing: 2px;
 margin-top: 5px;
  font-size: 16px;
}
.invitation-title {
  margin: 20px 0;
  font-size: 15px;
  
  line-height: 0.8;
  letter-spacing: 2px;
}
.divder {
  border: 1px solid #454444;;
  width: 34px;
  display: flex;
  margin: 0 auto;
}
.invitation-time {
  color: #454444;
  letter-spacing: 1px;
  margin-top: 10px;
  font-size: 14px;
}