@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

  .invitation-card {
    width: 675px;
    height: 675px;
    font-family: "Playfair Display", serif;
    margin: 0 auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
  .invitation-discription {
    font-size: 16px;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
    color: #D5D4D2;
    padding-bottom: 14px;
    letter-spacing: 1px;
}
  .invitation-title{
    font-size: 50px;
    color: #E3C560;
    font-family: "Bonheur Royale", serif;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }
  .invitation-time {
    font-size: 16px;
    letter-spacing: 1px;
    color: #D5D4D2;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    
  }
  .your-parent-name {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    color: #D5D4D2;
}
.partner-parent-name {
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  color: #D5D4D2;
}
  .invitation-date-section{
    letter-spacing: 1px;
    color: #D5D4D2;
    font-size: 35px;
    line-height: 1;
    text-align: center;
    font-weight: 400;
  }
  
  .groom-bride-section {
    line-height: 1.2;
    margin-top: 10px;
    padding-bottom: 20px;
  }
    
  .your-name,.partner-name{
    font-size: 38px;
    color: #D5D4D2;
      font-weight: 400;
      font-family: "Bonheur Royale", serif;
      text-transform: capitalize;
      letter-spacing: 3px;
      text-align: center;
  }
  .and{
    font-size: 38px;
    color: #D5D4D2;
    font-weight: 400;
    font-family: "Bonheur Royale", serif;
    text-transform: capitalize;
    text-align: center;
    margin-top: 25px;
  }
  .invitation-address{
    
      font-size: 16px;
      letter-spacing: 1px;
      color: #D5D4D2;
      line-height: 1.8;
      font-weight: 500;
      text-align: center;
      text-transform: capitalize;
      max-width: 250px;
      margin: 0 auto;
  }
  
  .invitation-venue {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
    color: #D5D4D2;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
  }
  
  .divider {
    border: 1px solid #D5D4D2;
    width: 100%;
    max-width: 325px;
    margin: 0 auto;
  }