@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Housing";
  src: url("../fonts/Housing.ttf") format("truetype");
}

.invitation-card {
  width: 787px;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-size: cover;
  padding: 20px;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  color: #834E1B;
  font-family: "Playfair Display", serif;
}

.small-divider{
  width: 30px;
  border-bottom: 2px solid;
}

.couple-name-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.invitation-title {
  font-family: "Housing";
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.invitation-date-section{
text-align: center;
}

.invitation-month-year{
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
}

.invitation-date{
  margin-bottom: 30px;
  font-size: 120px;
  line-height: 0.5;
}

.groom-bride-section {
  font-family: "Housing";
  display: flex;
  gap: 10px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  font-size: 40px;
  letter-spacing: 1px;
}

.invitation-address {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  max-width: 300px;
  font-style: italic;
  font-size: 16px;
}

