
@font-face {
  font-family: 'Jaqartall Regular';
  src: url('../fonts/Jaqartall-gxXzP.woff') format('woff');
  }

  @font-face {
    font-family: 'Things';
    src: url('../fonts/Things.ttf') format('truetype');
  }

.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 0 auto;
  color: #52422A;
}

.invitation-date-section {
  font-family: 'Jaqartall Regular';
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 3px;
  color: #b59e72;
  line-height: 0.9;
}

.invitation-time {
  font-family: 'Jaqartall Regular';
  letter-spacing: 3px;
  color: #b59e72;
  font-size: 26px;
  padding-bottom: 10px;
}

.invitation-title {
  font-family: 'Jaqartall Regular';
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 46px;
  padding-top: 10px;
}

.groom-bride-section {
  font-family: 'Things';
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 50px;
  margin: 0 36px;
  line-height: 1;
}


.couple-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.invitation-address {
  font-family: 'Things';
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 1px;
  max-width: 300px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
}

.invitation-card-content{
  background-color: #fff;
  text-align: center;
  width: 430px;
}

.custom-border{
  border: 2px solid #fff;
  max-width: fit-content;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
}