@font-face {
  font-family: "Mshtakan";
  src: url("../fonts/MshtakanRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Omeliana";
  src: url("../fonts/Omeliana.ttf") format("truetype");
}

.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-position: center;
  background-size: cover;
  text-transform: capitalize;
  text-align: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: "Mshtakan";
  color: #fff;
}

.invitation-date-section {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 70px;
  line-height: 0.8;
}

.invitation-time{
  font-size: 16px;
  letter-spacing: 1px;
}

.invitation-title {
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  line-height: 0.8;
  font-weight: 600;
  font-size: 100px;
}

.groom-bride-section {
  font-family: "Omeliana";
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.invitation-address {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 16px;
max-width: 400px;
}
