@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@font-face {
  font-family: 'Blessed';
  src: url('../fonts/Blessed\ Signature.ttf') format('truetype');
}
.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.groom-bride-section {
  display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.your-name {
  margin-bottom: 10px;
  font-size: 34px;
  color: #91593B;
  font-family: "Abril Fatface", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
   
}
.partner-name {
  margin-bottom: 10px;
  font-size: 34px;
  color: #91593B;
  font-family: "Abril Fatface", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
 
}
 .and {
  margin-bottom: 10px;
  font-size: 34px;
  color: #91593B;
  font-family: "Abril Fatface", serif;
  font-weight: 700;
  text-transform: uppercase;
 
 
}
.invitation-title {
  max-width: 300px;
  font-size: 48px;
  color: #91593B;
  font-family: "Blessed", cursive;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  letter-spacing: 1px;
 
}
.invitation-description {
  
  font-size: 16px;
  color: #303030;
  font-family: "Montserrat", sans-serif;
  
  max-width: 270px;
  font-style: italic;
  font-weight: 500;
  
}


.invitation-time {
  font-weight: 500;
    font-size: 14px;
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    margin: 25px 0px;
}
.invitation-address{
  text-align: center;
    font-size: 14px;
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 25px;
    max-width: 200px;
    
    
}
 
.invitation-date-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #91593b;
  margin: 15px 0px;
  max-width: 300px;
    width: 100%;
    justify-content: center;
}
  .invitation-month {
    text-transform: uppercase;
    font-size: 16px;
    padding-right: 20px;
    color: #91593B;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
 
}

.invitation-date {
  font-size: 32px;
  font-weight: 600;
 
  color: #91593B;
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid #91593b;
  border-right: 1px solid #91593b;
  margin-bottom: 5px;
  padding: 0px 8px;
  line-height: 40px;
}

.invitation-year {
  text-transform: uppercase;
  font-size: 16px;
  color: #91593B;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
  font-weight: 500;
 
}

.following-party {
  text-transform: capitalize;
    font-size: 14px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    color: #303030;
    font-weight: 500;
  
}