/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


/* Invitation Card Styling */
.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: #606060;
  text-align: center;
}

.invitation-title {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  max-width: 400px;
  color: #000000;
  margin-bottom: 10px;
}

.invitation-description {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  max-width: 300px;
  font-weight: 600;
}

.groom-bride-section {
  margin-top: 30px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.your-name {
  font-weight: 500;
  line-height: 2;
  font-size: 40px;
  font-family: "Great Vibes", cursive;
}

.partner-name {
  font-weight: 500;
  font-size: 40px;
  font-family: "Great Vibes", cursive;
}

.invitation-date-section{
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
 display: flex;
 justify-content: center;
 align-items: center;
}

.invitation-day-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

.invitation-day {
  font-size: 18px;
  font-weight: 700;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.invitation-date {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 2px;
}

.invitation-year{
  line-height: 0.3;
  font-weight: 700;
  letter-spacing: 1px;
}

.invitation-month {
  font-size: 18px;
  font-weight: 700;
  line-height: 0.3;
  letter-spacing: 1px;
}

.invitation-time {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.invitation-address {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 45px;
  max-width: 300px;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
}

.following-party {
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: #000000;
}
