@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bonheur+Royale&family=Great+Vibes&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bonheur+Royale&family=Great+Vibes&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  @font-face {
    font-family: "Academy_EngravedLet_Plain";
    src: url("../fonts/Academy_EngravedLet_Plain.ttf") format("truetype");
  }
  @font-face {
    font-family: "buttain";
    src: url("../fonts/buttain.ttf") format("truetype");
  }
  @font-face {
    font-family: "MaximaCyrTCYLigCom";
    src: url("../fonts/MaximaCyrTCYLigCom\ Regular.ttf") format("truetype");
  }
  
  
body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
}
/* section-01 */

.section-01 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 50px;
    background-color: #f8f9f9;
}

.section-01 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    left: 60px;
    bottom: 160px;
}
.section-01 .image-source {
    position: relative;
}
.section-01 .banner-section {
    margin-top: -260px;
}
.section-01 .image-1 img {
    width: 100%;
    height: 632px;
    max-width: 675px;
    object-fit: cover;
    object-position: center;
    margin: 0px 50px;
    background-color: #FFDFD1;
    padding: 10px 10px;
    padding-bottom: 150px;
}
.section-01 h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 500;
    background-color: #810238;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 60px;
    font-family: "MaximaCyrTCYLigCom";
}
.section-01 h2 {
    font-size: 80px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.2;
    color: #810238;
    font-weight: 5;
    margin: 0 auto;
    font-family: "Bonheur Royale", serif;
    position: absolute;
    left: 160px;
    bottom: 24px;
}

@media (max-width: 480px) {
   
    .section-01 .image-1 img {
        width: 100%;
        height: 440px;
        max-width: 675px;
     
        margin: 0px;
    }
    .section-01 h1 {
        font-size: 24px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .section-01 .banner-section {
        margin-top: 0px;
    }
    .section-01 {
     
        margin-bottom: 5px;
        padding-top: 0px;
       
    }
    .section-01 h2 {
        font-size: 32px;
        text-align: center;
        letter-spacing: 5px;
        line-height: 1.2;
        color: #810238;
        font-weight: 5;
        margin: 0 auto;
        font-family: "Bonheur Royale", serif;
        position: absolute;
        left: 80px;
        bottom: 58px;
    }
}
/* section-02 */
.section-02 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    
}

.section-02 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 25px;
    left: 10px;
  
}

.section-02 h5 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    right: 60px;
    top: 462px;
}

.section-02 .image-1 img {
    width: 100%;
    height: 469px;
    border: 10px solid #F4F4F4;
    object-fit: cover;
}

.section-02 .image-2 img {
    border: 10px solid #F4F4F4;
    object-fit: cover;
    width: 525px;
    height: 517px;
    float: inline-end;
    margin-right: 50px;
}

.section-02 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    background-color: #FFDFD1;
    padding: 90px 50px;
    margin-bottom: 0px;
}

.section-02 .image-source {
    position: relative;
}

@media (max-width: 480px) {

.section-02 .image-1 img {
    
    margin-bottom: 5px;
}
  

.section-02 p {
    font-size: 16px;
    font-weight: 400;
    padding: 40px 20px;
}

.section-02 {
   
    margin-bottom: 5px;
    
}
.section-02 .image-2 img {
  
    width: 376px;
    height: 517px;
    float: inline-end;
    margin-right: 0px;
    margin-top: 5px;
}
}


/* section-03 */



.section-03 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    background-color: #f8f9f9;
   padding: 0px 50px;
}

.section-03 h5 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.section-03 .image-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #F4F4F4;
}

.section-03 h2 {
    font-size: 49px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #1E1E1E;
    line-height: 1;
    margin-bottom: 10px;
  
}
.section-03 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: end;
    max-width: 426px;
    float: inline-end;
}
.section-03 .image-source {
    position: relative;
}


@media (max-width: 480px) {
    .section-03 {
    
        margin-bottom: 5px;
        padding:  0px 0px 0px 0px;
    }
    .section-03 h2 {
        font-size: 24px !important;
       
        margin-top: 20px;
        text-align: center;
    }
  
    .section-03 p {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
        padding: 0px 22px;
    }
   
    .section-03 .image-1 img {
   
        margin-bottom: 20px;
    }
    
    .section-03 h6 {
       
        position: absolute;
        bottom: 34px;
        left: 0px;
    }
}



.section-04 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    background-color: #f8f9f9;
    padding: 50px 0px;
}

.section-04 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.section-04 .image-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #F4F4F4;
}


.section-04 h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #810238;
    line-height: 1.1;
    text-align: end;
    padding-right: 50px;
    margin-bottom: 30px;
}
.section-04 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    text-align: end;
    max-width: 426px;
    float: inline-end;
    margin-top: 40px;
    padding-right: 50px;
}
.section-04 .divider {
    background-color: #810238;
    width: 65px;
    height: 300px;
    border: 1px solid #707070;
}
.section-04 .patch {
    background-color: #FFDFD1;
    height: 225px;
    width: 259px;
    margin-top: 85px;
}
.section-04 .image-source {
    position: relative;
}

@media (max-width: 480px) {
.section-04 {
   
    margin-bottom: 5px;
 
    padding: 0px 0px;
}
.section-04 h2 {
   
    margin-top: 35px;
}

.section-04 .image-1 img {
   
    margin-top: 5px;
}
.section-04 p {
   
    padding-bottom: 20px;
}
}

.section-05 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    background-color: #f8f9f9;
   padding: 50px 0px;
}

.section-05 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.section-05 .image-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #F4F4F4;
}


.section-05 h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #810238;
    line-height: 1.1;
    text-align: start;
    padding-left: 50px;
    margin-bottom: 30px;
}
.section-05 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    text-align: start;
    float: inline-end;
    margin-top: 40px;
    padding: 0px 50px;
}
.section-05 .divider {
   background-color: #810238;
    width: 40px;
    height: 300px;
    border: 1px solid #707070;
    margin-top: 50px;
}
.section-05 .patch {
    background-color: #FFDFD1;
    height: 225px;
    width: 50px;
    margin-top: 85px;
}
.section-05 .image-source {
    position: relative;
}
.section-05 .banner-content {
   
    float: inline-end;
}
@media (max-width: 480px) {
.section-05 {
   
    margin-bottom: 5px;
   
    padding: 0px;
    text-align: center;
}
.section-05 p {
   
    padding: 0px 20px;
    padding-bottom: 20px;
}
.section-05 .image-2 img {
    width: 100%;
    height: 532px;
    object-fit: cover;
    object-position: center;
    position: unset;
    top: 0px;
    border: 10px solid #ffffff;
}
.section-05 h5 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    left: 10px;
    top: -50px;
}
}


/* .section-06  */
.section-06 {
    max-width: 780px;
    margin: 0 auto;
    height: auto;
    background-color: #f8f9f9;
    padding: 0px 50px;
    margin-bottom: 10px;
   
}

.section-06 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.section-06 .image-1 img {
    width: 100%;
    height: 620px;
    object-fit: cover;
    border: 10px solid #F4F4F4;
}


.section-06 h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #810238;
    line-height: 1.1;
    padding-left: 35px;
}
.section-06 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    float: inline-end;
    margin-top: 40px;
    padding: 0px 40px;
    margin-bottom: 0px;
}
.section-06 .divider {
   background-color: #810238;
    width: 40px;
    height: 300px;
    border: 1px solid #707070;
    margin-top: 50px;
}
.section-06 .patch {
    background-color: #FFDFD1;
    height: 225px;
    width: 180px;
    margin-left: 20px;
}
.section-06 .image-source {
    position: relative;
}
.section-06 .banner-content {
   
    float: inline-end;
}



/* section-02 */
.section-07 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    
}

.section-07 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 25px;
    left: 10px;
  
}


.section-07 .image-1 img {
    border: 10px solid #F4F4F4;
    object-fit: cover;
    width: 100%;
    height: 640px;
}

.section-07 .image-2 img {
    border: 10px solid #F4F4F4;
    object-fit: cover;
    width: 100%;
    height: 640px;
}

.section-07 h2 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #1E1E1E;
    line-height: 1.2;
}
.section-07 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
  
    margin-bottom: 0px;
}
.section-07 .patch-1 {
    background-color: #810238;
    height: 47px;
    width: 234px;
}
.section-07 .patch-2 {
    background-color: #810238;
    height: 200px;
    width: 50px;
}
.section-07 .image-source {
    position: relative;
}

@media (max-width: 480px) {

    .section-07 .image-1 img {
    
    margin-bottom: 5px;
}
  

.section-07 p {
    font-size: 16px;
    font-weight: 400;
  
}

.section-07 {
   
    margin-bottom: 5px;
    
}

}



.section-08 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    background-color: #f8f9f9;
    padding: 50px 0px;
}

.section-08 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 22px;
    left: 92px;
    z-index: 4;
}


.section-08 .image-1 img {
    height: 500px;
    width: 650px;
    object-fit: cover;
    border: 10px solid #F4F4F4;
    margin-top: -280px;
    position: relative;
    z-index: 3;
}


.section-08 h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #810238;
    line-height: 1.1;
    text-align: end;
    padding-right: 50px;
    margin-bottom: 30px;
}
.section-08 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    text-align: end;
    max-width: 426px;
    float: inline-end;
    margin-top: 40px;
    padding-right: 50px;
}
.section-08 .divider {
    background-color: #FFDFD1;
    width: 100%;
    height: 100px;
    margin-top: 200px;
}
.section-08 .patch {
    background-color: #810238;
    height: 234px;
    width: 260px;
    float: inline-end;
    margin-top: -193px;
}
.section-08 .image-source {
    position: relative;
}

@media (max-width: 480px) {
    .section-08 {
   
    margin-bottom: 5px;
 
    padding: 0px 0px;
}
.section-08 h2 {
   
    margin-top: 35px;
}

.section-08 .image-1 img {
   
    margin-top: 5px;
}
.section-08 p {
   
    padding-bottom: 20px;
}
}


.section-09 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    background-color: #f8f9f9;
    padding: 50px 0px;
    display: flex
;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-09 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 22px;
    left: 92px;
    
}


.section-09 .image-1 img {
    height: 743px;
    width: 650px;
    object-fit: cover;
    border: 10px solid #F4F4F4;
    margin-top: -221px;
}


.section-09 h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #810238;
    line-height: 1.1;
    padding: 50px 50px 10px 50px;
}
.section-09 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    float: inline-end;
    padding: 0px 50px;
}
.section-09 .divider {
    background-color: #810238;
    width: 100%;
    height: 100px;
    margin-top: 70px;
   
}
.section-09 .patch {
    background-color: #810238;
    height: 234px;
    width: 260px;
    float: inline-end;
  
}
.section-09 .image-source {
    position: relative;
}




.section-10 {
    max-width: 780px;
    margin: 0 auto;
    height: auto;
    background-color: #f8f9f9;
    padding: 50px 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.section-10 h6 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.section-10 .image-1 img {
    height: 750px;
    width: 400px;
    float: inline-end;
    border: 10px solid #F4F4F4;
    object-fit: cover;
    position: relative;
    z-index: 1;
}


.section-10 h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    color: #810238;
    line-height: 1.1;
    padding-left: 35px;
}
.section-10 p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 1.5;
    padding: 50px 40px;
    margin-bottom: 0px;
    max-width: 356px;
    float: inline-end;
}
.section-10 .divider {
   background-color: #810238;
    width: 40px;
    height: 300px;
    border: 1px solid #707070;
    margin-top: 50px;
}

.section-10 .image-source {
    position: relative;
}
.section-10 .banner-content {
   
    background-color: #FFDFD1;
    margin-top: -500px;
}
