@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.invitation-card {
    width: 562px;
    height: 787px;
    flex-direction: column;
    display: flex;
    padding: 30px 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content:flex-start;
    margin: 0 auto;
    text-align: center;
  }
.invitation-title {
    font-size: 42px;
    color: #91593b;
    font-weight: 400;
    font-family: "Poppins-Medium", sans-serif;
    max-width: 370px;
    margin-top: 15px;
}
.invitation-description {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #303030;
    font-weight: 500;
    font-style: italic;
    max-width: 280px;
    margin: 20px 0px;
    
}
.your-name {
    font-size: 38px;
    color: #91593b;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin-top: 10px;
    text-align: start;
    
}
.partner-name {
    font-size: 38px;
    color: #91593b;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-align: end;
   
    margin-bottom: 10px;
}
.invitation-details {
    font-size: 18px;
    color: #91593b;
    font-family: "Poppins", sans-serif;
}
.invitation-time {
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 25px;
}
.groom-bride-section {
    max-width: 215px;
    width: 100%;
}

.invitation-address{
   
    font-size: 14px;
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    line-height: 1.4;
    max-width: 210px;
    font-weight: 500;
    margin: 25px 0px;
    
  }
.following-party{
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
   
}

.invitation-date-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 8px;
    
}
.invitation-month {
    font-size: 18px;
    padding-right: 20px;
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.invitation-date {
    font-size: 32px;
    font-weight: 600;
  
    color: #91593B;
    font-family: "Montserrat", sans-serif;
    border-left: 1px solid #4F534A;
    border-right: 1px solid #4F534A;
    padding: 0px 8px;
    line-height: 38px;
}

.invitation-year {
  font-size: 18px;
  color: #303030;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;

}
.and {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
   
}
