/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Font Faces */
@font-face {
  font-family: "BlessedSignature";
  src: url(".https://react-web-composer.ecsion.com/fonts/Blessed_Signature.ttf") format("truetype");
}

/* Invitation Card Styling */
.invitation-card {
  font-family: "Montserrat";
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: start;
  margin: 0 auto;
  color: #742A33;
  text-transform: capitalize;
  border-radius: 8px;
  text-align: center;
}

.invitation-title {
  font-family: "BlessedSignature";
  font-size: 50px;
  margin-top: 60px;
  max-width: 400px;
  margin-bottom: 10px;
}

.invitation-description {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat";
  max-width: 300px;
}

.partner-name {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 36px;
  font-family: "Playfair Display";
}

.your-name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 36px;
  font-family: "Playfair Display";
}

.and {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Playfair Display";
}

.line {
  border-bottom: 2px solid;
  width: 40px;
}

.invitation-date-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px 5px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.invitation-time {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat";
}

.invitation-address {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  max-width: 300px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Montserrat";
}

.following-party {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  font-family: "Montserrat";
}

.your-parent-name,
.partner-parent-name {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  max-width: 500px;
  font-family: "Montserrat";
}