@font-face {
  font-family: "Things";
  src: url("../fonts/Things.ttf") format("truetype");
}

@font-face {
  font-family: "Jaqartall";
  src: url("../fonts/Jaqartall-gxXzP.woff") format("woff");
}

.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  text-align: start;
  text-transform: capitalize;
  align-items: center;
  margin: 0 auto;
  color: #000;
  font-family: "Things";
}

.invitation-date-section {
  text-align: start;
  text-transform: capitalize;
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: 8px;
  margin-bottom: 6px;
}

.invitation-time {
  font-size: 20px;
  letter-spacing: 2px;
}

.invitation-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  word-spacing: 10px;
  letter-spacing: 10px;
  margin-bottom: 30px;
  line-height: 1;
}

.groom-bride-section {
  display: flex;
  gap: 26px;
  color: #e3717b;
  font-family: "Jaqartall";
  font-size: 30px;
  line-height: 1.4;
}

.couple-bg-img {
  background-color: #e3717b;
  height: 100%;
  max-height: 420px;
}
.couple-img img {
  width: 100%;
  max-width: 530px;
  height: 310px;
  object-fit: cover;
}

.icon {
  width: 170px;
}

.your-name {
  font-size: 70px;
}

.and {
  text-transform: uppercase;
  margin-top: 40px;
}

.partner-name {
  font-size: 70px;
}

.invitation-address {
  text-align: start;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 3px;
}
