@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');


.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  font-weight: 500;
  background-size: cover;
  text-transform: capitalize;
  text-align: center;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  color: #d5d4d2;
  font-family: "Playfair Display", serif;
}

.invitation-title {
  
  text-transform: capitalize;
  text-align: center;
  font-size: 45px;
  color: #e3c560;
  letter-spacing: 1px;
}
.and {
  line-height: 1;
  padding-top: 10px;
}
.invitation-day-month {
  letter-spacing: 1px;
    font-family: "Bonheur Royale", serif;
    margin-top: 60px;
}

.invitation-date {
  font-size: 170px;
  height: 130px;
  line-height: 0.6;
}

.invitation-month {
 
  font-size: 36px;
  line-height: 0.8;
}

.invitation-year {
  font-size: 26px;
}
.invitation-day {
  font-size: 16px;
  margin-top: 30px;
}

.invitation-time {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.divider {
  border-bottom: 3px solid;
  width: 250px;
  margin: 16px auto;
}

.groom-bride-section {
  font-family: "Bonheur Royale", serif;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: 1px;
}

.invitation-address {
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1px;
  max-width: 160px;
  margin: 0 auto;
}
