@font-face {
  font-family: "housing";
  src: url(../fonts/Housing.ttf) format("truetype");
}

@font-face {
  font-family: "Basker";
  src: url(../fonts/NewBaskervilleC.ttf) format("truetype");
}

.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 30px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #454444;
}

.invitation-title {
  word-wrap: break-word;
  letter-spacing: 10px;
  font-family: "Basker";

}

.your-name{
  font-family: "Basker";
  letter-spacing: 2px;
  word-wrap: break-word;
  font-size: 95px;
}

.and{
  font-family: "Basker";
  letter-spacing: 2px;
  word-wrap: break-word;
  font-size: 100px;
  writing-mode: vertical-lr;
  transform: rotate(180deg) !important;
 border-left: 2px solid;
 border-right: 2px solid;
 line-height: 1.2;
 margin-left: 25px;
}

.partner-name{
  font-family: "Basker";
  letter-spacing: 2px;
  word-wrap: break-word;
  font-size: 95px;
}

.invitation-address {
  font-family: "Basker";
    font-size: 19px;
  margin-top: 2px;
  letter-spacing: 4px;
  word-wrap: break-word;
padding-top: 35px;
}

.invitation-date-section{
  line-height: 60px;
  margin-right: 80px;
}

.invitation-date-year{
  position: relative;
    left: 76px;
    bottom: 50px;
}

.invitation-date {
  font-family: "Basker";
  font-size: 45px;
  letter-spacing: 8px;
}

.invitation-month{
  font-size: 80px;
  font-family: "housing";
  margin-top: 70px;
  position: relative;
    right: 25px;
    letter-spacing: 10px;
}

.invitation-year{
  font-size: 30px;
  font-family: "Basker";
  letter-spacing: 10px;
  line-height: 1;
}
