<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{SEO Meta Title}}</title>
    <meta name="description" content="{{SEO_Meta_Description}}" />
    <meta name="keywords" content="{{FOCUS_keyword}}" />
    <meta name="author" content="Your Name/Company Name" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap" rel="stylesheet">


    <style>
        .wedding_venue {
            font-family: 'Sen', sans-serif !important;
            padding-top: 20px;
            max-width: 1140px;
    margin: 0 auto;
        }

        .wedding_venue .vendor-cover-img img {
            height: 250px;
            width: 100%;
            object-fit: cover;
  filter: blur(5px);
  clip-path: inset(0px round 0px);

        }

        .wedding_venue .short-description {
            height: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
        }

        .wedding_venue .event-spaces-container {
            border: 1px solid #ddd;
            padding: 5px;
            border-radius: 5px;
        }

        .wedding_venue .event-spaces-container .first-section {
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        .wedding_venue .fw-500 {
            font-weight: 500;
        }

        .wedding_venue .fw-300 {
            font-weight: 300;
        }

        .wedding_venue .policies-list li {
            margin-bottom: 20px;
        }

        .wedding_venue .expectations-list li {
            /* margin-bottom: 10px; */
            font-weight: 400;
        }

        .wedding_venue .text-primary {
            color: #DD1B5F !important;
        }

        .wedding_venue .btn-primary {
            background-color: #DD1B5F !important;
            border-color: #DD1B5F !important;
            color: white !important;
        }

        .wedding_venue .btn-success {
            background-color: #25D366 !important;
            border-color: #25D366 !important;
            color: white !important;
        }

        .wedding_venue a {
            text-decoration: none !important;
        }
        .wedding_venue .company-information h1, .wedding_venue .company-information h2, .wedding_venue .company-information h3{
            font-size: 16px;
            color: #DD1B5F !important;
        }
        .wedding_venue .vendor-information .venue-name,
        .wedding_venue .vendor-information .city	,
        .wedding_venue .vendor-information .amenity,
        .wedding_venue .vendor-information .venue-feature	,
        .wedding_venue .vendor-information .business-service	 {
            font-weight: 600;
            font-family: 'Sen', sans-serif !important;
        }

         .wedding_venue .company-information .location,
         .wedding_venue .company-information .ambiance,
         .wedding_venue .company-information .greenery,
         .wedding_venue .company-information .service,
         .wedding_venue .company-information .staff,
         .wedding_venue .company-information .design,
         .wedding_venue .company-information .farm-view,
         .wedding_venue .company-information .garden-view,
         .wedding_venue .company-information .pool-view,
         .wedding_venue .company-information .lake-view,
         .wedding_venue .company-information .activities,
         .wedding_venue .company-information .food,
         .wedding_venue .company-information .delicious,
         .wedding_venue .company-information .timing,
         .wedding_venue .company-information .considerations,

         .wedding_venue .company-information .delays {
            font-weight: 600;
         }


        .details-section-one{
                border-right: 1px solid #ddd;
                padding-right: 16px;
            }
        .rating-column{
            border-right: 1px solid #ddd;
                padding-right: 16px;
        }

        .custom-hr-container hr{
            border-top: 1px solid #a38c8c !important;
            margin: 5px 0 !important;
            opacity: 0.25 !important;
        }

        


        @media screen and (max-width: 768px) {

            .wedding_venue .hero-details-section {
                box-shadow:
                    -10px -8px 10px rgba(0, 0, 0, 0.15),
                    10px -8px 10px rgba(0, 0, 0, 0.15);
                border-radius: 26px 26px 0 0;
                background-color: #fff;
                margin-top: -24px;
                padding: 0;
            }

            .wedding_venue .text-center-sm {
                text-align: center;
            }

            .wedding_venue .sticky-footer {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #fff;
                padding: 10px 15px;
                box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
                z-index: 999;
            }

            .wedding_venue .w-100-sm {
                width: 100%;
            }

            .wedding_venue .vendor-cover-img img {
                height: 170px;

            }
            

            .wedding_venue .rating-container span i {
                font-size: 10px;
            }

            .wedding_venue .short-description {
                padding: 0 15px 0 4px;
            }

            .wedding_venue .rating-column,
            .wedding_venue .review-column {
                padding: 0;
            }

            .wedding_venue .mb-sm-20 {
                margin-bottom: 20px !important;
            }

           .wedding_venue .wedding_venue {
                padding-bottom: 102px;
            }

           .wedding_venue .p-sm-0px {
                padding: 0px;
            }

            .wedding_venue .hero-details-section {
                padding: 0 15px 15px 15px;
                position: relative;
            }

            .wedding_venue .rating-column {
                text-align: center;  
            }

            .wedding_venue .review-column {
                text-align: center;
            }

            .wedding_venue .rating-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .wedding_venue .rating-container span {
                margin-right: 2px;
            }
            .wedding_venue {
                padding-top: 0;
                padding-bottom: 100px;
            }
        }

        
    </style>
</head>

<body>
    <section class="wedding_venue">

        <div class="container">
            <div class="row">
                <div class="col-md-6 p-sm-0px">
                    <div class="vendor-cover-img">
                        <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/9E197C23-790D-47DC-80A2-5D57B2BDD4AC.png"
                            class="img-fluid rounded" alt="">
                    </div>
                </div>

                <div class="col-md-6 hero-details-section">
                    <div class="card mt-3 border-0">
                        <div class="card-body text-center">

                            <h5 class="text-primary">{{name}}</h5>
                            <p class="text-muted mb-0">({{city}}{{#locality_name}}, {{locality_name}}{{/locality_name}})</p>
                            <p class="text-muted"><small>{{additional_info.activeAddress.display_address}}</small>
                            </p>

                            <div>
                                <a href="tel:+919876543210" class="btn btn-primary btn-sm">
                                    View Contacts
                                </a>

                                <a href="https://wa.me/919876543210" target="_blank"  class="btn btn-success btn-sm">
                                    <i class="fa-brands fa-whatsapp"></i>
                                    Whatsapp
                                </a>
                            </div>

                            <div class="d-flex justify-content-center gap-3 mt-4 pt-2">
                                <div class="details-section-one">
                                    <div>
                                        
                                        <div class="rating-container">
                                            <p class="mb-0">
                                            Starts From
                                        </p>
                                        </div>
                                        <p class="mb-0">
                                             {{{vendor_price}}}
                                        </p>

                                    </div>
                                </div>
                                {{#pricing_category}}
                                <div class="rating-column">
                                    <div class="short-description">
                                        <p class="mb-0">

                                            {{pricing_category}}
                                        </p>

                                    </div>
                                </div>
                                {{/pricing_category}}
                                <div class="review-column">
                                    <div>
                                        <p class="mb-0">
                                            Total Rooms
                                        </p>
                                        <p class="mb-0">
                                            {{estimated_room_count}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-5">
                    <h6 class="text-primary">
                        Event Spaces
                    </h6>

{{#banquet_halls.indoor-area.length}}
<div class="px-3 mb-2">
    <p class="text-primary mt-3">Indoors</p>

    {{#banquet_halls.indoor-area}}
    <div class="mb-3">
        <p class="mb-2">{{name}}</p>
        <div class="event-spaces-container">
            <div class="d-flex justify-content-between px-2">
                <span>Seating</span><span>{{max_seating}}</span>
            </div>
            <div class="custom-hr-container">
                                <hr>
                                </div>
            <div class="d-flex justify-content-between px-2">
                <span>Floating</span><span>{{max_floating}}</span>
            </div>
        </div>
    </div>
    {{/banquet_halls.indoor-area}}
</div>
{{/banquet_halls.indoor-area.length}}



{{#banquet_halls.outdoor-area.length}}


                    <div class="px-3 pt-3 mb-4">

                        <p class="text-primary">
                            Outdoors
                        </p>

                        {{#banquet_halls.outdoor-area}}

                        <div class="mb-3">
                            <p class="mb-2">{{name}}</p>
                            <div class="event-spaces-container">

                                <div class="d-flex justify-content-between px-2">
                                    <span>{{name}}</span><span>{{max_seating}}</span>
                                </div>
                                <div class="custom-hr-container">
                                <hr>
                                </div>
                                <div class="d-flex justify-content-between px-2">
                                    <span>Floating</span><span>{{max_floating}}</span>
                                </div>
                            </div>
                        </div>
            {{/banquet_halls.outdoor-area}}



                    </div>
{{/banquet_halls.outdoor-area.length}}

                    <hr>

                    {{#price_per_plate.length}}
                    <div class="mt-3 mb-3 pb-md-1 mb-sm-20">
                        
                        <div class="">
                            <h6 class="text-primary mb-3">Price Per Plate</h6>
                            <div class="event-spaces-container mx-3">
                                {{#price_per_plate.veg}}
                                <div class="d-flex justify-content-between  px-2">
                                    <span>Veg</span><span>{{price_per_plate.veg}}</span>
                                </div>
                                    
                                  

                                {{/price_per_plate.veg}}

                              {{#price_per_plate.non_veg}}
                              <div class="custom-hr-container">
                                    <hr/>
                                    </div>
                                <div class="d-flex justify-content-between px-2">
                                    <span>Nonveg</span><span>{{price_per_plate.non_veg}}</span>
                                </div>
                                {{/price_per_plate.non_veg}}

                            </div>
                        </div>



                    </div>

                        <hr>
                        {{/price_per_plate.length}}

                    <h6 class="text-primary mt-3">
                        Policies
                    </h6>

                    <ul class="list-unstyled policies-list mt-4 px-md-4">
                {{#additional_info.faq}}
                    {{^isCapacityFAQ}}

                        <li>
                            <p class="fw-500 mb-0">{{question}}</p>
                            <p class="fw-300 mb-0 text-muted">{{answer}}</p>
                        </li>
                        {{/isCapacityFAQ}}
                {{/additional_info.faq}}

                    </ul>

                </div>
                <div class="col-md-7">
                    <div>
                        

                        <div class="px-2 company-information">

{{#sentiment_analysis.what_to_expect}}

                            <div>
                                <h6 class="text-primary fw-500">What to Expect:</h6>
                                            <p>{{{sentiment_analysis.what_to_expect}}}</p>


                            </div>
{{/sentiment_analysis.what_to_expect}}


{{#sentiment_analysis.what_to_watch_for}}

                            <div>
                                <h6 class="text-primary fw-500">What to Be Cautious About:</h6>
                                                                            <p>{{{sentiment_analysis.what_to_watch_for}}}</p>


                            </div>
{{/sentiment_analysis.what_to_watch_for}}


{{#sentiment_analysis.listing_card_sentiment}}

                            <div>
                                <h6 class="text-primary fw-500">Overall Sentiment:</h6>
                                                                            <p>{{{sentiment_analysis.listing_card_sentiment}}}</p>


                            </div>
                            <hr>

{{/sentiment_analysis.listing_card_sentiment}}



                            {{#additional_info.information}}

                            <div class="vendor-information">
                            <p class="mb-1">
                                            {{{additional_info.information}}}


                            </p>

                            <hr>
                            </div>

                            {{/additional_info.information}}

                            
                        </div>


                        <div class="sticky-footer text-center-sm">
                            <a href="#" class="text-primary d-block mb-2">View Policies & Additonal Details</a>
                            <button class="btn btn-primary btn-sm w-100-sm">Message Vendor</button>
                        </div>


                    </div>
                </div>
            </div>




        </div>
    </section>











    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>