@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

.invitation-card {
    width: 562px;
    height: 787px;
    flex-direction: column;
    display: flex;
    padding: 30px 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    text-align: center;
}
.invitation-title {
    font-size: 48px;
    color: #C96350;
    font-weight: 400;
    font-family: "Style Script", cursive;
    max-width: 300px;
    margin-top: 50px;
}

.invitation-description {
    font-size: 16px;
    color: #696548;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    max-width: 340px;
}

.your-name {
    font-size: 36px;
    color: #C96350;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-align: center;
    
}
.your-parent-name {
    font-size: 16px;
    color: #696548;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;

    
}
.partner-name {
    font-size: 36px;
    color: #C96350;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-align: center;
   
}
.partner-parent-name {
    font-size: 16px;
    color: #696548;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
  
}

.and {
    font-size: 28px;
    color: #C96350;
    font-weight: 400;
    font-family: "Style Script", cursive;
    line-height: 1;
    margin-top: 15px;
}
.invitation-date-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
    .invitation-month{
      font-size: 18px;
      padding-right: 20px;
      color: #C96350;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
  }
  .invitation-time{
    
    font-size: 14px;
    color: #696548;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px 0px;
}
  .invitation-date {
    font-size: 32px;
    font-weight: 500;
    
    color: #c96350;
    font-family: "Poppins", sans-serif;
    border-left: 1px solid #c96350;
    border-right: 1px solid #c96350;
    margin-bottom: 5px;
    padding: 0px 8px;
    line-height: 40px;
  }
  
  .invitation-year {
    font-size: 18px;
    color: #C96350;
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    font-weight: 500;
  
  }
 
.invitation-address {
    font-weight: 500;
    font-size: 14px;
    color: #696548;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-style: italic;
    max-width: 230px;
    text-transform: capitalize;
    padding: 5px 0px;
}

.following-party {
    font-size: 14px;
    color: #696548;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
}