@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Housing";
  src: url("../fonts/Housing.ttf") format("truetype");
}

.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-position: center;
  text-align: center;
  text-transform: capitalize;
  background-size: cover;
  background-size: cover;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  color: #834e1b;
  font-family: "Playfair Display", serif;
}

.invitation-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  max-width: 250px;
  line-height: 1;
  letter-spacing: 2px;
  margin-top: 50px;
}

.invitation-title span{
  font-family: "Housing";
  font-weight: 500;
  line-height: 0;
  color: #D0A959;
}

.invitation-date-section {
  text-align: center;
  color: #6b4e12;
}

.invitation-month-year {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
}

.invitation-date {
  margin-bottom: 10px;
  font-size: 120px;
  line-height: 1;
}

.groom-bride-section {
  font-family: "Housing";
  display: flex;
  gap: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 46px;
  letter-spacing: 1px;
  margin-top: 50px;
}

.invitation-address {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-weight: 600;
  font-style: italic;
  max-width: 300px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
}
