@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');
.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  color: #585858;
  background-color: #F5F3EF;
 font-weight: 400;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
 
  padding: 75px 30px;
}

.card-detail {
  border-right: 1px solid #cc9a7a;
}
.invitation-description {
  text-align: center;
    font-size: 14px;
   
    letter-spacing: 2px;
    margin-top: 20px;
}
.invitation-time {
  text-align: center;
 
  font-size: 44px;
}
.invitation-date {
  text-align: center;
  border-bottom: 1px solid #cc9a7a;
  padding-bottom: 15px;
 
  line-height: 1.7;
  font-size: 44px;
}
.invitation-month {
  text-align: center;
  border-bottom: 1px solid #cc9a7a;
  padding-bottom: 15px;
 
  line-height: 1.7;
  font-size: 44px;
}
.invitation-year {
  text-align: center;
 
  line-height: 1.7;
  font-size: 44px;
}
.invitation-date-section {
  border-bottom: 1px solid #cc9a7a;
  padding-bottom: 4px;
  max-width: 115px;
  margin: 0 auto;
}
.invitation-title {
  text-align: center;
  
  line-height: 60px;
  border-bottom: 1px solid #cc9a7a;
  padding-bottom: 10px;
  margin: 0 auto;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.2;
}
.invitation-title span {
  font-family: "Bonheur Royale", serif;
  font-size: 54px;
  color: #cc9a7a;
  text-transform: lowercase;
  line-height: 0.9;
}
.groom-bride-section {
  margin: 0 auto;
  text-align: center;
}
.your-name {
 
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
}
.partner-name {
 
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
}
.and {
  font-family: "Bonheur Royale", serif;
    font-size: 91px;
    font-weight: 500;
    color: #cc9a7a;
    line-height: 1;
}
.invitation-address {
  text-align: center;
    font-size: 14px;
  
    letter-spacing: 2px;
    padding-top: 30px;
    max-width: 250px;
    margin: 0 auto;
}
.following-party {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  font-family: "Bonheur Royale", serif;
  margin-top: 36px;
  font-weight: 500;
}
