@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #515037;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
}

.invitation-title {
  font-size: 28px;
  margin-bottom: 10px;
  max-width: 400px;
  font-weight: 600;
  text-transform: uppercase;
}

.invitation-description {
  font-size: 18px;
  max-width: 300px;
  margin-bottom: 20px;
  font-weight: 600;
}

.groom-bride-section {
  text-align: center;
  display: flex;
  gap: 10px;
  margin: 16px 0;
  font-size: 22px;
  font-weight: 600;
}

.following-party {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.invitation-address {
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-weight: 600;
  max-width: 300px;
}

.invitation-date-section {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.invitation-day {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid;
}

.invitation-time {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
