@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

.invitation-card {
  height: 787px;
  width:  563px ;
  flex-direction: column;
  display: flex;
  padding: 0px;
  margin: 0 auto;
  font-family: "Poppins", serif;
color: #FFFFFF;
font-weight: 400;
}
.couple-img1 img{
  width: 100%;
  max-width: 500px;
  height: 550px;
  object-fit: cover;
}

.invitation-date, .invitation-time {
  text-align: center;
  
  line-height: 2;
 
  letter-spacing: 4px;
}
.invitation-date-time{
  background-color: #5D745B;

}

.invitation-address {
  letter-spacing: 4px;
  text-align: center;
  background-color: #A8BBC5;
  
}
.invitation-title {
  font-size: 19px;
  font-family: "Italianno", serif;
  text-align: center;
  rotate: -90deg;
  font-weight: 500;
}
.invitation-title-section {
 border-right: 1px solid ;
 border-left: 1px solid ;
}
.groom-bride-section {
  text-align: center;
  text-transform: uppercase;
  font-family: "Italianno", serif;
  font-size: 32px;
  letter-spacing: 9px;
  
  margin-top: 35px;
  font-weight: 500;
}