@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: "Blessed_Signature";
  src: url("https://react-web-composer.ecsion.com/fonts/Blessed_Signature.ttf") format("truetype");
}


.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.invitation-title {
  font-size: 42px;
  color: #91593B;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 400px;
  font-family: "Blessed", sans-serif;
  letter-spacing: 2px;
}

.invitation-description {
  font-size: 16px;
  font-weight: 500;
  color: #464646;
  text-transform: capitalize;
  max-width: 300px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.groom-bride-section{
  font-size: 38px;
  color: #91593B;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.invitation-time {
  font-size: 14px;
  color: #464646;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  max-width: 300px;
  font-style: italic;
}

.invitation-address {
  font-size: 14px;
  color: #464646;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 23px;
  font-style: italic;
  max-width: 300px;
}

.invitation-date-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  margin-top: 28px;
  color: #91593B;
}

.invitation-date-section {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}

.img-top,
.img-bottom {
  width: 160px;
}

.invitation-date {
  font-size: 25px;
  font-weight: 600;
  margin: 0 15px;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 0 6px;
  text-transform: capitalize;
}

.following-party {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #464646;
  font-weight: 500;
  text-transform: capitalize;
}

