@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bonheur+Royale&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 80px 30px 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.groom-bride-section {
  display: flex;
  margin-bottom: 10px;

  justify-content: center;
}
.invitation-title {
  font-size: 55px;
  color: #910302;
  font-family: "Bonheur Royale", cursive;
  font-weight: 500;
  margin-bottom: 15px;
}
.invitation-description {
  font-size: 14px;
  color: #464646;
  font-family: "Poppins", serif;
  font-style: italic;
  font-weight: 600;
  word-break: break-all;
  max-width: 270px;
}
.your-name {
  font-size: 40px;
  color: #910302;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;

  text-align: end;
}
.partner-name {
  font-size: 40px;
  color: #910302;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;

  text-align: start;
}
.and {
  font-size: 40px;
  color: #910302;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: center;
  padding: 0px 14px;
}

.invitation-time {
  font-size: 14px;
  color: #464646;
  font-family: "Poppins", serif;
  font-style: italic;
  margin-bottom: 25px;
  font-weight: 600;
}
.invitation-address {
  text-align: center;
  font-size: 14px;
  color: #464646;
  font-family: "Poppins", serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 25px;
  max-width: 203px;
  line-height: 1.4;
  word-break: break-all;
}

.invitation-date-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #91593b;
  margin-top: 10px;
}
.invitation-day {
  font-size: 18px;

  color: #464646;
  font-family: "Poppins", serif;
  font-weight: 600;
  text-transform: capitalize;
  width: 110px;
  text-align: center;
}

.invitation-date {
  font-size: 32px;
  font-weight: 500;
  color: #910302;
  font-family: "Poppins", serif;
  border-left: 1px solid #91593b;
  border-right: 1px solid #91593b;
  margin-bottom: 5px;
  padding: 0px 10px;
  line-height: 38px;
}

.invitation-month {
  font-size: 18px;

  color: #464646;
  font-family: "Poppins", serif;
  font-weight: 600;
  text-transform: capitalize;
  width: 110px;
  text-align: center;
}

.following-party {
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  font-family: "Poppins", serif;
  color: #464646;
  font-weight: 600;
}
