@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hurricane&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 55px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  
}

.invitation-title {
  font-family: "Style Script", serif;
    font-size: 54px;
    color: #959595;
    font-weight: 500;
}
.invitation-description{
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  color: #959595;
  font-weight: 500;
}

.groom-bride-section {
  line-height: 0.7;
  margin-top: 55px;
  color: #959595;
}
.your-name {
  font-family: "Style Script", serif;
  font-size: 60px;
  letter-spacing: 1px;
  color: #959595;
  font-weight: 500;
}
.partner-name {
  font-family: "Style Script", serif;
  font-size: 60px;
  letter-spacing: 1px;
  color: #959595;
  font-weight: 500;
}
.and {
  font-family: "Style Script", serif;
    font-size: 65px;
    letter-spacing: 2px;
    color: #959595;
    line-height: 1;
}
.invitation-date {
 
  font-family: "Playfair Display", serif;
  color: #959595;
}
.invitation-time{
  font-family: "Playfair Display", serif;
  color: #959595;
}
.invitation-address {
  width: 82%;
  display: flex;
  float: inline-end;
 
  font-family: "Playfair Display", serif;
  color: #959595;
}

.following-party {
  font-family: "Style Script", serif;
    font-size: 32px;
    text-align: end;
    margin-top: 50px;
    color: #959595;
    font-weight: 500;
}
