@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bonheur+Royale&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "MurrayHilDEE";
    src: url("../fonts/MurrayHilDEE\ Regular.ttf") format("truetype");
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
}

/* section-01 */


.section-01 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 50px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    
}

.section-01 .image-1 img {
    width: 100%;
    height: 100%;
    border: 6px solid #ffffff;
    margin-left: 40px;
    max-width: 280px;
    max-height: 400px;
}
.section-01 .image-2 img {
    width: 100%;
    height: 100%;
    border: 6px solid #ffffff;
    max-width: 420px;
    max-height: 369px;
    object-fit: cover;
    margin-left: 0px;
}
.section-01 h6 {
    position: absolute;
    left: 46px;
    bottom: 10px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
}
.section-01 h5 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 6px;
}
.section-01 h2 {
    font-size: 43px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
    line-height: 1;
}
.section-01 .image-source {
    position: relative;
}


.section-01 h3 {
    font-size: 60px;
    color: #1F0E0E;
    text-align: center;
    font-family: "MurrayHilDEE";
    padding: 20px 0px;
    font-weight: 500;
    background: #ffffffd4;
    margin-top: 50px;
}

.section-01 h1 {
    font-size: 85px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-family: "Bonheur Royale", serif;
    padding-top: 15px;
}

@media (max-width: 480px)
 {.section-01 {
   
    padding: 30px 0px;
   
  
    
}
.section-01 h5 {
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 5px !important;
}

    .section-01 .image-1 img {
        width: 100%;
        height: 100%;
        border: 6px solid #ffffff;
        max-width: 380px;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .section-01 h1 {
        font-size: 44px;
      
    }
    .section-01 h2 {
        font-size: 22px;
        text-align: center;
    }
    .section-01 h3 {
        font-size: 32px;
        text-align: center;
        padding: 23px 0px;
        float: none;
    }
    .section-01 h6 {
        position: absolute;
        left: 5px;
        bottom: 14px;
        background: rgb(0 0 0 / 43%);
        color: #b5b5b5c2;
        padding: 5px 15px;
    }
    .section-01 {
        margin-bottom: 5px;
     
    }
    .section-01 .image-2 img {
    
        margin-left: 0px !important;
    }
}
@media (max-width: 768px) {
.section-01 {
   margin-bottom: 5px;
   
}
.section-01 h5 {
   
    position: absolute;
    bottom: 10px;
    left: 11px;
}
.section-01 .image-2 img {
    max-width: 420px;
    max-height: 369px;
    object-fit: cover;
    margin-left: 5px;
}
.section-01 h2 {
   
    margin-bottom: 50px;
}
}

@media (max-width: 980px) {
    .section-01 h2 {
   
        margin-bottom: 50px;
    }
}
/* section-02 */

.section-02 {

    max-width: 780px;
    margin: 0 auto; 
    margin-bottom: 10px;
    padding: 80px 0px;
    padding-right: 70px;
    height: auto;
}

.section-02 p {
    padding: 20px 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    background-color: #504848;
    max-width: 230px;
    margin-left: 40px;
}


.section-02 h6 {
    color: #030303;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: -21px;
    left: -25px;
}
.section-02 h5 {
    color: #030303;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: -25px;
    left: 237px;
}
.section-02 .image-1 img {
    width: 100%;
    height: 100%;
    max-height: 328px;
    max-width: 310px;
    transform: rotate(44deg);
}

.section-02 .image-2 img {
    width: 100%;
    height: 100%;
    max-height: 328px;
    max-width: 310px;
    transform: rotate(44deg);
    border: 6px solid #ffffff;
    position: relative;
    z-index: 2;
}
.section-02 .image-3 img {
    width: 100%;
    height: 100%;
    max-height: 328px;
    max-width: 310px;
    transform: rotate(44deg);
}
.section-02 .image-source {

    position: relative;
}

@media (max-width: 480px) {
    .section-02 {
        max-width: 780px;
        margin: 0 auto;
       
        margin-bottom: 10px;
        padding: 0px 0px;
    }
    .section-02 .image-1 img {
        width: 100%;
        height: 100%;
        max-width: 374px;
        max-height: 500px;
        transform: rotate(0deg);
    }
    .section-02 .image-2 img {
        width: 100%;
        height: 100%;
        max-width: 374px;
        max-height: 500px;
        transform: rotate(0deg);
        z-index: 0;
        border: none;
    }
    .section-02 .image-3 img {
        width: 100%;
        height: 100%;
        max-width: 374px;
        max-height: 500px;
        transform: rotate(0deg);
    }
    .section-02 h6 {
        color: #b5b5b5c2;
        padding: 5px 15px;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        position: absolute;
        top: -45px;
        left: 0px;
        bottom: 10px;
        background: rgb(0 0 0 / 43%);
    }
    .section-02 h5 {
        color: #b5b5b5c2;
        padding: 5px 15px;
        position: absolute;
        top: -47px;
        left: 0px;
        bottom: 10px;
        background: rgb(0 0 0 / 43%);
    }
    
    .section-02 p {
        padding: 20px 14px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        background-color: #504848;
        margin: 0px;
        margin-left: 0px;
        max-width: 380px;
    }
}
/* section-03 */
    .section-03 {
        max-width: 780px;
        margin: 0 auto;
       
        padding: 50px 50px;
        margin-bottom: 10px;
        height: auto;
     
    }
    
    .section-03 .image-source {
        position: relative;
    }
    .section-03 h6 {
        background: rgb(0 0 0 / 43%);
        padding: 5px 15px;
        max-width: 122px;
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        color: #b5b5b5c2;
        position: absolute;
        bottom: 15px;
        left: 12px;
    }
    .section-03 h5 {
        background: rgb(0 0 0 / 43%);
        padding: 5px 15px;
        max-width: 122px;
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        color: #b5b5b5c2;
        position: absolute;
        bottom: 15px;
        left: 9px;
    }
    
    .section-03 .image-1 img {
        width: 100%;
        height: 100%;
        border: 9px solid #F4F4F4;
    }
    .section-03 .image-2 img {
        width: 100%;
        height: 100%;
        border: 9px solid #F4F4F4;
        max-height: 600px;
        object-fit: cover;
    }

    .section-03 p {
        color: #1E1E1E;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-right: 25px;
        line-height: 1.7;
    }
    
    .section-03 h1 {
      color: #504848;
    font-size: 50px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
    line-height: 1;
    }
  
    @media (max-width: 480px) {
      
        .section-03 h1 {
            color: #504848;
            font-size: 33px;
            font-weight: 500;
            font-family: "Bonheur Royale", serif;
            margin-top: 20px;
            letter-spacing: 2px;
            margin-bottom: 20px;
           
        }
        .section-03 p {
            color: #1E1E1E;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
            margin-right: 0px;
            line-height: 1.7;
        }
        .section-03 .image-2 img {
           
            max-height: 800px;
            object-fit: cover;
            margin-top: 5px;
        }
    }
        @media (max-width: 480px) {
            .section-03 {
                padding: 30px 10px;
                margin-bottom: 5px;
               
            }
            }
     
/* .section-04  */

.section-04 {
    max-width: 780px;
    margin: 0 auto;
    
    margin-bottom: 10px;
    height: auto;
    padding: 50px 50px;
  
}

.section-04 .image-source {
    position: relative;
}
.section-04 h6 {
    position: absolute;
    bottom: 15px;
    left: 6px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}
.section-04 h5 {
    position: absolute;
    bottom: 45px;
    left: 7px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}

.section-04 .image-1 img {
    width: 100%;
    height: 100%;
    border: 6px solid #F4F4F4;
    max-height: 490px;
    max-width: 500px;
    margin-bottom: 25px;
}
.section-04 .image-2 img {
    width: 100%;
    height: 100%;
    border: 6px solid #F4F4F4;
    max-height: 420px;
    
    object-fit: cover;
}
.section-04 h2 {
    color: #707070;
    font-size: 40px;
    font-weight: 500;
}
.section-04 p {
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
     margin: 25px 0px;
    line-height: 1.8;
  
}

.section-04 h1 {
    color: #504848;
    font-size: 60px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    line-height: 1;
    letter-spacing: 3px;
}

@media (max-width: 480px) {
    .section-04 h1 {
        font-size: 42px;
    }
    .section-04 h5 {
        position: absolute;
        bottom: 40px;
        left: 7px;
      
    }
    .section-04 {
        padding: 50px 10px;
        margin-bottom: 5px;
     
    }
    .section-04 h2 {
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .section-04 p {
      
        margin-top: 0px;
        padding-right: 0px;
    }
    }
    @media (max-width: 768px) {
        .section-04 {
           
            margin-bottom: 5px;
           
        }
        
        } 
        

        .section-05 {
            max-width: 780px;
            margin: 0 auto;
         
            margin-bottom: 10px;
            height: auto;
            padding: 50px 50px;
         
        }
        
        .section-05 .image-source {
            position: relative;
        }
        .section-05 h6 {
            position: absolute;
            bottom: 15px;
            left: 7px;
            background: rgb(0 0 0 / 43%);
            color: #b5b5b5c2;
            padding: 5px 15px;
            text-align: center;
            font-size: 12px;
            text-decoration: none;
            font-style: italic;
        }
        .section-05 h5 {
            position: absolute;
            bottom: 30px;
            left: 7px;
            background: rgb(0 0 0 / 43%);
            color: #b5b5b5c2;
            padding: 5px 15px;
            text-align: center;
            font-size: 12px;
            text-decoration: none;
            font-style: italic;
        }
        
        .section-05 .image-1 img {
            width: 100%;
            height: 100%;
            border: 6px solid #F4F4F4;
           
        }
        .section-05 .image-2 img {
            width: 100%;
            height: 100%;
            border: 6px solid #F4F4F4;
            max-height: 224px;
            object-fit: cover;
        }
        
      
        .section-05 p {
            color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 1.7;
        }
          
        
        
        .section-05 h1 {
            color: #504848;
            font-size: 48px;
            font-weight: 500;
            font-family: "Bonheur Royale", serif;
            line-height: 1;
            letter-spacing: 3px;
        }
        
        
        
        @media (max-width: 480px) {
            .section-05 {
            
                padding: 50px 10px;
               
            }
            .section-05 h6 {
                position: absolute;
                bottom: 10px;
                left: 7px;
               
            }
            }
            @media (max-width: 768px) {
                .section-05 .image-2 img {
                    
                    max-height: 209px;
                    object-fit: cover;
                }
                } 
                
                
.section-06{
    max-width: 780px;
    margin: 0 auto;
   
    margin-bottom: 10px;
    height: auto;
    padding: 50px 0px;
   
}

.section-06 .image-source {
    position: relative;
}
.section-06 h6 {
    position: absolute;
    bottom: 15px;
    left: 7px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}

.section-06 h5 {
    position: absolute;
    bottom: 15px;
    left: 7px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}
.section-06 .image-1 img {
    width: 100%;
    height: 100%;
    border: 6px solid #F4F4F4;
    max-height: 440px;
}

.section-06 .image-2 img {
    width: 100%;
    height: 100%;
    border: 6px solid #F4F4F4;
    max-height: 380px;
    max-width: 461px;
    object-fit: cover;
}


.section-06 h2 {
    color: #504848;
    font-size: 50px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    line-height: 1;
    letter-spacing: 3px;
   
}
.section-06 p {
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
   
    line-height: 1.8;
}

.section-06 h1 {
    color: #504848;
    font-size: 50px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    line-height: 1;
    letter-spacing: 3px;
    padding-left: 50px;
    margin-bottom: 15px;
}


@media (max-width: 480px) {
    .section-06 h1 {
        font-size: 28px;
        padding-left: 10px;
    }
    .section-06  {
        padding: 20px 10px;
    }
  .section-05 h1 {
    color: #504848;
    font-size: 44px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    line-height: 1;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.section-06 h5 {
    position: absolute;
    bottom: 30px;
    left: 7px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}
.section-06 h6 {
    position: absolute;
    bottom: 15px;
    left: 7px;
}
.section-06 .image-1 img {
   
    margin-bottom: 20px;
}
    .section-06 h2 {
        font-size: 27px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .section-06 p {
      
        margin-top: 0px;
        padding-right: 0px;
    }
    }
    @media (max-width: 768px) {
        .section-06 {
           
            margin-bottom: 5px;
           
        }
        
        } 


                        
.section-07{
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    padding: 50px 50px;
   
}

.section-07 .image-source {
    position: relative;
}
.section-07 h6 {
    position: absolute;
    bottom: 35px;
    left: 7px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}
.section-07 h1 {
    color: #504848;
    font-size: 50px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    line-height: 1;
    letter-spacing: 3px;
    padding-left: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.section-07 h5 {
    position: absolute;
    bottom: 15px;
    left: 7px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}
.section-07 .image-1 img {
    width: 100%;
    height: 100%;
    border: 6px solid #F4F4F4;
    max-height: 500px;
    object-fit: cover;
}

.section-07 p {
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    margin: 0px 50px;
    text-align: center;
    padding-top: 30px;
   
}
@media (max-width: 480px) {
    .section-07 h1 {
        font-size: 28px;
        padding-left: 10px;
    }
    .section-07  {
        padding: 20px 10px;
    }
    .section-07 p {
        color: #1E1E1E;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.8;
        margin: 0px 10px;
        text-align: start;
      
    }
}
.section-08 p {
    color: #1E1E1E;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.8;
        margin: 0px 10px;
        padding-top: 30px;
        text-align: center;
}

.section-08 {
    max-width: 780px;
    margin: 0 auto;
  
    margin-bottom: 10px;
    height: auto;
    padding-top: 50px;
    
}


.section-08 h1 {
    color: #504848;
    font-size: 50px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    line-height: 1;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-align: center;
}

.section-08 .image-source {
    position: relative;
}
.section-08 h6 {
    position: absolute;
    bottom: 15px;
    left: 7px;
    background: rgb(0 0 0 / 43%);
    color: #b5b5b5c2;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
}

.section-08 .image-1 img {
    width: 100%;
    height: 100%;
    border: 6px solid #F4F4F4;
    max-height: 500px;
    object-fit: cover;
}

.section-08 p {
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    margin: 0px 50px;
    text-align: center;
    padding-bottom: 80px;
}
.section-08 h1 {
    color: #504848;
    font-size: 50px;
    font-weight: 500;
    font-family: "Bonheur Royale", serif;
    line-height: 1;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-align: center;
}
@media (max-width: 480px) {
    .section-06 h1 {
        font-size: 28px;
        padding-left: 10px;
    }
    .section-06  {
        padding: 20px 10px;
    }
  
.section-08 p {
    margin: 0px 10px;
    text-align: start;
    padding-bottom: 20px;
}
.section-08 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    padding-top: 20px;
   
}
}
