@font-face {
    font-family: 'laurentine';
    src: url('../fonts/laurentine.ttf') format('truetype');
}

.main-section {
    max-width: 562px;
    width: 100%;
    height: 787px;
    flex-direction: column;
    display: flex;
    padding: 30px 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://ecsiondevstorage.blob.core.windows.net/wedding-storage/C6BD1088-B1C5-4598-BE09-6E96F6536201.png);
    font-family: "Poppins", sans-serif;
}


.title {
    display: flex;
    justify-content: end;
    width: 100%;
    color: #1B311B;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title h4 {
    font-size: 47px;
    max-width: 220px;
    font-family: 'laurentine';
    text-align: right;
    width: 100%;
    color: #1B311B;
    margin-bottom: 20px;
}

.description {
    display: flex;
    justify-content: end;
    width: 100%;
    color: #000000;
}

.description p {
    text-align: right;
    margin-bottom: 30px;
    max-width: 300px;
}

.couple-image {
    text-align: center;
    width: 100%;
}

.couple-image img {
    margin: 0 auto;
    object-fit: contain;
    max-width: 300px;
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 6px;
}



@media (max-width: 562px) {
    .main-section {
        height: 100vh;
        background-image: url(https://ecsiondevstorage.blob.core.windows.net/wedding-storage/1999BD27-ABDE-4229-90A9-F8C6D050DDBA.png);
    }
    .description p {
        max-width: 100%;
    }
}