@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf') format('truetype');
}
@font-face {
  font-family: 'Blessed';
  src: url('../fonts/Blessed\ Signature.ttf') format('truetype');
}

.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  text-align: center;
}
.invitation-description {
  font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #4E4327;
    font-weight: 600;
    font-style: italic;
    max-width: 250px;
    margin-top: 15px;
}

.invitation-time {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #4E4327;
  font-weight: 500;
  font-style: italic;
  margin-top: 20px;
}

.invitation-address {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #4E4327;
  max-width: 270px;
  line-height: 1.4;
  font-weight: 500;
  font-style: italic;
  margin: 20px 0px;
}


.invitation-title {
  font-size: 45px;
  color: #02454B;
  font-family: 'Blessed', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  max-width: 370px;
  
}


.invitation-date {
  font-size: 18px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  border-top: 1px solid #adb5bd;
  border-bottom: 1px solid #adb5bd;
  max-width: 210px;
  width: 100%;
  padding: 7px 0px;

}
.following-party{
  color: #4E4327;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
    
}

.groom-bride-section {
  
  line-height: 1.2;
}

.your-name, .partner-name, .and{
  font-size: 40px;
    font-family: "Playfair Display", serif;
    color: #02454B;
    font-weight: 500;
    
    letter-spacing: 2px;
    margin-bottom: 8px;
}
