


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Bonheur+Royale&family=Charmonman:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Italianno&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');
.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content:flex-start;
  margin: 0 auto;
  text-align: center;
}
.partner-parent-name {
  font-size: 16px;
  color: #C5942C;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 10px;
}
.invitation-title {
  font-size: 40px;
  color: #C5942C;
  font-family: "Charmonman", serif;
  font-weight: 500;
  letter-spacing: 1px;
  max-width: 370px;
  margin-bottom: 10px;
}
.invitation-description {
  font-size: 16px;
    color: #C5942C;
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    font-weight: 600;
    max-width: 290px;
}
.your-parent-name {
  font-size: 16px;
  color: #C5942C;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.groom-bride-section {
  margin-bottom: 10px;
    margin-top: 15px;
}

.your-name, .partner-name{
  font-size: 36px;
  color: #C5942C;
  font-family: "Charmonman", serif;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 1.2;
}

.invitation-day {
 
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #C5942C;
  font-weight: 500;
}
.invitation-date {
  font-size: 45px;
  color: #C5942C;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-right: 1px solid #C5942C;
  border-left: 1px solid #C5942C;
  line-height: 53px;
  padding: 0px 20px;
  margin: 0px 15px;
}
.invitation-address{
  font-size: 14px;
  color: #C5942C;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  max-width: 215px;
  margin: 15px 0px;
}
 
.invitation-time{

    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #C5942C;
    font-weight: 500;
}

.invitation-year {
  font-size: 16px;
  color: #C5942C;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  
}
.invitation-month {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: #C5942C;
    padding-left: 5px;
}
.following-party{
  font-family: "Poppins", sans-serif;
 
  font-size: 14px;
  color: #C5942C;
  font-weight: 500;
 
 
}
