<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Articles</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>

<body style="background-color: #f8f9fa; font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
    <div style="width: 650px; margin: 0 auto; background-color: #fff;">
        <div style="padding: 20px; box-shadow: 0px 2px 4px 0px #00000029;">
            <div>
                <span>From: ecsion </span> <span> mukul.ecsion@gmail.com </span>
            </div>
            <div>
                <span>Subject</span> <span>hello</span>
            </div>
        </div>
        <div style="padding: 40px 20px;">
            <div style="text-align: center; margin: 32px 0;">
                <a href="#" style="text-decoration:none; color: black;">View in browser</a>
                <h3 style="font-size: 35px; text-transform: uppercase;">The News</h3>
            </div>
            <div style="border: 1px solid; max-width: 550px; margin: 0 auto; width: 100%;"></div>
            <div>
                <h3 style="text-align: center; text-transform: uppercase; margin-top: 32px; font-size: 35px;">Top
                    Articles of <span>the Week</span></h3>
                <div style="text-align: center;">
                    <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/870D79FF-A1FB-4B2F-B0B5-F4BBDE7ABC4D.png"
                        alt="Cabbages"
                        style="width: 100%; border-radius: 10px; max-width: 550px; height: 375px; margin: 16px auto; object-fit: cover;">
                </div>
                <h3 style="text-align: center; font-size: 35px;">Are these cabbages right <br> side up or upside down?
                </h3>
                <div style="text-align: center; margin-top: 40px;">
                    <a href="#" style="border: 0; border-radius: 20px; padding: 10px 20px; font-weight: 500;background-color: #000000; text-decoration: none;
    color: #FFFFFF;">Read Article</a>
                </div>
            </div>

            <div style="display: flex; gap: 20px; margin-top: 40px;">
                <div style="flex: 1;">
                    <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/A14D4AE9-E867-4E89-98EE-73200AC2A0C0.png"
                        alt="Cherry"
                        style="width: 200px;
                        height: 250px;
                        object-fit: cover;
                        border-radius: 8px;">
                </div>
                <div style="flex: 2;">
                    <h4 style="font-size: 20px; font-weight: 500;">Worms should definitely be banned from cherries</h4>
                    <p style="font-size: 18px; color: #6c757d;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy green tempor.</p>
                    <div style="margin-top: 40px;">
                        <a href="#" style="border: 0; border-radius: 20px; padding: 10px 20px; font-weight: 500;background-color: #000000; text-decoration: none;
    color: #FFFFFF;">Read Article</a>
                    </div>
                </div>
            </div>

            <div style="display: flex; gap: 20px; margin-top: 40px;">
                <div style="flex: 1;">
                    <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/C003C2F2-C86F-4C34-99BB-709095FCD958.png"
                        alt="Light Bulb"
                        style="width: 200px;
                        height: 250px;
                        object-fit: cover;
                        border-radius: 8px;">
                </div>
                <div style="flex: 2;">
                    <h4 style="font-size: 20px; font-weight: 500;">Why is there a lollipop in this soap dish?</h4>
                    <p style="font-size: 18px; color: #6c757d;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy green tempor.</p>
                    <div style="margin-top: 40px;">
                        <a href="#" style="border: 0; border-radius: 20px; padding: 10px 20px; font-weight: 500;background-color: #000000; text-decoration: none;
    color: #FFFFFF;">Read Article</a>
                    </div>
                </div>
            </div>

            <hr style="margin-top: 40px;">

            <div style='text-align: center; width: 100%;'>
                <a href='#' style='text-decoration: none;' data-editable='icon' data-key='facebook' data-label='Facebook'>
                    <img src='https://ecsiondevstorage.blob.core.windows.net/wedding-storage/3F32CE35-37AF-4FFC-9C0C-3FD9D8B8A812.png'
                        style='width: 50px; height: 50px;' alt=''>
                </a>
                <a href='#' style='text-decoration: none;' data-editable='icon' data-key='instagram' data-label='Instagram'>
                    <img src='https://ecsiondevstorage.blob.core.windows.net/wedding-storage/677D524C-EC9F-49CE-A1ED-50CCF4B35AF2.png'
                        style='width: 50px; height: 50px;' alt=''>
                </a>
                <a href='#' style='text-decoration: none;' data-editable='icon' data-key='twitter' data-label='Twitter'>
                    <img src='https://ecsiondevstorage.blob.core.windows.net/wedding-storage/AD6526E8-BDA0-4F4C-BE4C-67886AC38C71.png'
                        style='width: 50px; height: 50px;' alt=''>
                </a>
            </div>

            <div style="margin-top: 40px; display: flex; justify-content: space-between;">
                <div>
                    <strong>
                        <p>ecsion</p>
                    </strong>
                    <p style="margin: 0;">nagpur</p>
                    <p style="margin: 0;">440024 Nagpur</p>
                    <a href="#" style="color: #000; text-decoration: none; font-size: 18px;">Mail:
                        example@company.com</a>
                </div>
                <div style="text-align: right;">
                    <p style="margin: 0;">Privacy</p>
                    <p style="margin: 0;">Imprint</p>
                    <p style="margin: 0;">Unsubscribe from newsletter</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>