<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body style="margin:0;padding:0;font-family:'Open Sans', sans-serif;">

    <div style="max-width:650px;margin:0 auto;">

      <!-- Section 1 -->
      <!-- <section style="padding:20px 0;box-shadow:0px 2px 4px 0px #00000029;">
        <div style="width:100%;padding-left:12px;padding-right:12px;margin-left:auto;margin-right:auto;">
          <div>
            <span>From:</span>
            <span>ecsion mukul.ecsion@gmail.com</span>
          </div>
          <div>
            <span>Subject hello</span>
          </div>
        </div>
      </section> -->

      <!-- Section 2 -->
      <section style="padding:20px 0;">
        <div style="width:100%;padding-left:12px;padding-right:12px;margin-left:auto;margin-right:auto;">
          <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <a style="margin-bottom: 15px; text-align: center; color: black; cursor: pointer;">View in browser</a>
          </div>

          <div style="display:flex;flex-wrap:wrap;margin-left:-12px;margin-right:-12px;">
            <div style="width:100%;padding-left:12px;padding-right:12px;">
              <div style="padding:20px;background-color:#373535;">
                <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/0EEE2B15-E466-47B6-8E65-E5D9F1C91079.png" style="width:100%;height:auto; max-height: 100px;
    object-fit: cover;" alt="">
              </div>
            </div>

            <div style="width:100%;padding-left:12px;padding-right:12px;">
              <div>
                <h4 style="font-size:34px;margin-top:40px;text-align:center;font-weight:700;padding:0 60px;margin-bottom:40px;">WELCOME TO THE ONWATCH EXPERIENCE!</h4>
              </div>
            </div>

            <!-- 4 Images -->
            <div style="width:25%;">
              <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/E81C3E4E-FDEC-4F43-96C7-5454DDDC7D35.png" style="width:100%;height: 500px;
    object-fit: cover;" alt="">
            </div>

            <div style="width:25%;">
              <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/071C573D-D663-478B-AECC-4710699F9F87.png" style="width:100%;height: 500px;
    object-fit: cover;" alt="">
            </div>

            <div style="width:25%;">
              <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/B1B29AE2-CA9D-40C5-925D-8C970ADAF40C.png" style="width:100%;height: 500px;
    object-fit: cover;" alt="">
            </div>

            <div style="width:25%;">
              <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/2372FD40-FC14-4D58-B069-E1363AE857B4.png" style="width:100%;height: 500px;
    object-fit: cover;" alt="">
            </div>

            <!-- Message -->
            <div style="width:100%;padding-left:12px;padding-right:12px;">
              <h4 style="font-size:30px;font-weight:600;margin-top:40px;margin-bottom:20px;">Dear OnWatch Member,</h4>

              <p style="color:#707070;">
                Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
              </p>

              <p style="color:#707070;">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
              </p>

              <p style="color:#707070;">
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
              </p>

              <p style="color:#707070;">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              </p>
            </div>

            <!-- Button -->
            <div style="width:100%;padding-left:12px;padding-right:12px;text-align:center;margin-top:20px; margin-bottom: 20px;">
              <a href="#" type="button" style="color:#fff;background-color:#393939;border:1px solid #393939;padding:6px 24px;border-radius:50px;cursor:pointer; text-decoration: none;">Click here to see</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer Section -->
      <section style="padding:0;">
        <!-- Social Icons -->
        <div style="width:100%;padding-left:12px;padding-right:12px;margin-left:auto;margin-right:auto;background-color:#2F2F2F;text-align:center;padding-top: 20px;
    padding-bottom: 20px;">
          <a href="#" style="margin-right: 10px;">
            <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/C1624606-E7D9-4118-A35F-E6B0444B45F2.png" style="width: 20px;
            height: auto;
            margin-right: 6px;" alt="">
            </a>
        <a href="#" style="margin-right: 10px;"><img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/5A1B5F7F-EAE6-477D-B124-BA2BFF8C0706.png" style="width: 32px;
            height: auto;
            margin-right: 6px;" alt=""></a>
        <a href="#"><img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/2CBAEE06-BFF8-4F58-9442-21369A71573B.png" style="width: 32px;
            height: auto;
            margin-right: 6px;" alt=""></a>
        </div>

        <!-- Contact Info -->
        <div style="width:100%;padding-left:12px;padding-right:12px;margin-left:auto;margin-right:auto;background-color:#393939;color:white;padding-top:0;padding-bottom:40px;">
          <div style="display:flex;flex-wrap:wrap;">
            <div style="width:100%;text-align:center;margin-top:20px;">
              <p style="margin-bottom:6px;">Ecsion</p>
              <p style="margin-bottom:6px;">Nagpur</p>
              <p style="margin-bottom:6px;">440024</p>
              <a href="#" style="color:white;text-decoration:none;">contact@company.com</a>
            </div>
          </div>
        </div>
      </section>
    </div>

  </body>
</html>
