<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Hello, world!</title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', sans-serif;">
    <div style="width: 650px; margin: 0 auto;">
      <!-- <section style="box-shadow: 0px 2px 4px 0px #00000029; padding: 20px 0;">
        <div style="padding-left: 16px; padding-right: 16px;">
          <div>
            <span>From: </span>
            <span>ecsion mukul.ecsion@gmail.com</span>
          </div>
          <div>
            <span>Subject hello</span>
          </div>
        </div>
      </section> -->

      <section style="padding: 20px 0;">
        <div style="padding-left: 16px; padding-right: 16px; text-align: center;">
          <div style="margin-bottom: 20px;">
            <a style="margin-bottom: 15px; text-align: center; color: black; cursor: pointer;">View in browser</a>
          </div>
          <div>
            <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/CD71160C-02B2-4A98-B171-FE33B7BC9EEA.png" style="    width: 100%;
            max-width: 150px;
            height: auto; margin-bottom: 20px;" alt="">
          </div>
          <div>
            <p>Hey <strong>Mrs. Smith</strong>, it looks like we’ve found a flat that you might be interested in.</p>
          </div>
          <hr style="margin-bottom: 0;">
        </div>
      </section>

      <section style="padding: 0;">
        <div style="padding-left: 16px; padding-right: 16px; margin-bottom: 1rem; display: flex; justify-content: space-between; align-items: center;">
          <h5 style="font-weight: bold; margin: 0;">Cheap apartment in Paris center</h5>
          <a href="#" style="background-color: #FFC823; color: #FFFFFF; border: none; padding: 8px 16px; cursor: pointer; text-decoration: none;">5700€ / month</a>
        </div>

        <div style="padding-left: 16px; padding-right: 16px;">
          <div>
            <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/EFCCC371-0D20-4AEC-AF29-F5F3C12A6585.png" style="width: 100%; max-height: 330px;
    object-fit: cover; max-height: 130px;" alt="">
          </div>

          <div style="display: flex; gap: 4px; margin-top: 8px;">
            <div style="flex: 1;">
              <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/919BAA56-79B2-4774-8803-12B68822A4E4.png" style="width: 100%; height: 100%;
    object-fit: cover; max-height: 130px;" alt="">
            </div>
            <div style="flex: 1;">
              <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/01540762-E33D-4812-A0CA-1EB5180E27AF.png" style="width: 100%; height: 100%;
    object-fit: cover; max-height: 130px;" alt="">
            </div>
            <div style="flex: 1;">
              <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/32B4CFCF-7E0C-41F8-842A-12F79144BDCA.png" style="width: 100%; height: 100%;
    object-fit: cover; max-height: 130px;" alt="">
            </div>
          </div>
        </div>
      </section>

      <section style="padding: 20px 0;">
        <div style="padding-left: 16px; padding-right: 16px;">
          <div>
            <h4 style="font-size: 26px; font-weight: 600; margin-bottom: 30px;">27 boulevard Haussmann, 75009, Paris</h4>
            <h5 style="font-weight: 300; margin-top: 1rem;">
              <span>4 rooms </span> |
              <span>130m² </span> |
              <span>Furnished </span> |
              <span>Renovated </span> |
              <span>Available now</span>
            </h5>
            <div style="margin-top: 2rem; margin-right: 1.5rem;">
              <a href="#" style="width: 100%; background-color: #FFC823; color: white; padding: 12px; border: none; cursor: pointer; text-decoration: none;">I WANT TO VISIT THIS FLAT</a>
            </div>
          </div>
        </div>
      </section>

      <section style="padding: 20px 0;">
        <div style="background-color: #2F2F2F; text-align: center; padding: 20px 0;">
          <a href="#" style="margin-right: 10px;">
            <img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/C1624606-E7D9-4118-A35F-E6B0444B45F2.png" style="width: 20px;
            height: auto;
            margin-right: 6px;" alt="">
            </a>
        <a href="#" style="margin-right: 10px;"><img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/5A1B5F7F-EAE6-477D-B124-BA2BFF8C0706.png" style="width: 32px;
            height: auto;
            margin-right: 6px;" alt=""></a>
        <a href="#"><img src="https://ecsiondevstorage.blob.core.windows.net/wedding-storage/2CBAEE06-BFF8-4F58-9442-21369A71573B.png" style="width: 32px;
            height: auto;
            margin-right: 6px;" alt=""></a>
        </div>

        <div style="background-color: #393939; color: white; padding-top: 40px; padding-bottom: 40px;">
          <div style="text-align: center;">
            <p style="margin-bottom: 6px;">Ecsion</p>
            <p style="margin-bottom: 6px;">Nagpur</p>
            <p style="margin-bottom: 6px;">440024</p>
            <a href="#" style="color: white; text-decoration: none;">ecsion@company.com</a> <br>
            <div style="margin-top: 8px;"></div>
            <a href="#" style="color: white; text-decoration: none;">No longer want to receive these emails? Unsubscribe.</a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>