
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf') format('truetype');
}
@font-face {
  font-family: 'Blessed';
  src: url('../fonts/Blessed\ Signature.ttf') format('truetype');
}
.invitation-card {
  width: 562px;
  height: 787px;
  flex-direction: column;
  display: flex;
  padding: 30px 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  text-align: center;
}
.invitation-description {
  font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #303030;
    font-weight: 600;
    font-style: italic;
    max-width: 260px;
    margin-top: 10px;
   
}
.groom-bride-section {
  margin: 25px 0px;
  line-height: 1.2;
}
 
.invitation-time {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #303030;
  font-weight: 600;
  font-style: italic;
  margin-top: 25px;
}

.invitation-address {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #303030;
  max-width: 200px;
  line-height: 1.5;
  font-weight: 600;
  font-style: italic;
 
  margin: 15px 0px;
}

.invitation-title {
  font-size: 45px;
  color: #91593b;
  font-family: 'Blessed', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 15px;
  max-width: 307px;
 
}

.invitation-date {
  font-size: 20px;
  color: #303030;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-top: 1px solid #91593ba1;
  border-bottom: 1px solid #91593ba1;
  padding: 10px 0px;
  max-width: 220px;
 
  margin:  auto;
}

.following-party{
  color: #303030;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
 
}

.your-name, .partner-name, .and{
  font-size: 40px;
    font-family: "Playfair Display", serif;
    color: #91593b;
    font-weight: 500;
  
    letter-spacing: 2px;
    margin-bottom: 8px;
    line-height: 1;
   
 
}
.couple-img {
  background-size: contain;
    background-position: center;
    max-width: 280px;
    max-height: 240px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}