
@font-face {
    font-family: 'GimettaMarriage';
    src: url('../fonts/Gimetta\ Marriage.ttf') format('truetype');
  }
  @font-face {
    font-family: 'OptimusSeasonal';
    src: url('../fonts/Optimus\ Seasonal\ Regular.ttf') format('truetype');
  }
  .invitation-card {
    width: 562px;
    height: 787px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .invitation-address {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    margin-top: 10px;
    font-family: "GimettaMarriage";
    letter-spacing: 1px;
  }
  .invitation-date-section {
    padding-top: 40px;
    letter-spacing: 4px;
  }
  
  .invitation-time {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-family: "GimettaMarriage";
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .invitation-date{
    font-size: 70px;
    color: #000;
    font-family: "OptimusSeasonal";
    font-weight: 300;
    line-height: 1.0;
  
  }
   .invitation-month {
    font-size: 70px;
    color: #000;
    font-family: "OptimusSeasonal";
    font-weight: 300;
    line-height: 1.0;
    
  }
  .invitation-year{
    font-size: 70px;
    color: #000;
    font-family: "OptimusSeasonal";
    font-weight: 300;
    line-height: 1.0;
  }
  .invitation-title {
    font-size: 40px;
      color: #000;
      font-family: "OptimusSeasonal";
      font-weight: 400;
      line-height: 1;
      letter-spacing: 2px;
      margin-bottom: 20px;
  }
  
  .your-name{
    line-height: 0.8;
    font-size: 40px;
    font-family: "GimettaMarriage";
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
   
  }
  .and{
    font-size: 42px;
    font-family: "GimettaMarriage";
    color: #000;
    font-weight: 400;
  }
  .partner-name{
    line-height: 0.8;
      font-size: 44px;
      font-family: "GimettaMarriage";
      color: #000;
      font-weight: 400;
      letter-spacing: 1px;
      
      margin-top: 10px;
  }
  .groom-bride-section {
   
    justify-content: center;
  }
