@font-face {
  font-family: "Munellisa";
  src: url("../fonts/Munellisa.ttf") format("truetype");
}

@font-face {
  font-family: "Things";
  src: url("../fonts/Things.ttf") format("truetype");
}

.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  padding:0 20px;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  color: #000;
}

.icon-date-section{
  background-color: #606c52;
text-align: center;
}

.invitation-date-section {
  font-family: "Things";
  margin-top: 60px;
  text-align: center;
  text-transform: capitalize;
  font-size: 60px;
  color: #fff;
  line-height: 1.1;
  letter-spacing: 8px;
}

.invitation-time{
  font-family: "Munellisa";
  color: #606c52;
  font-size: 20px;
  margin-left: 90px;
margin-top: 40px;
margin-bottom: 10px;
}

.invitation-title {
  font-family: "Things";
  margin-top: 30px;
  margin-left: 16px;
  text-align: start;
  text-transform: uppercase;
  font-weight: 500;
  max-width: 275px;
  letter-spacing: 10px;
  font-size: 52px;
}

.groom-bride-section {
  font-family: "Munellisa";
  color: #606c52;
  text-align: end;
  font-size: 56px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.your-name{
  margin-right: 76px;
  margin-bottom: 20px;
  line-height: 0.5;
}

.partner-name{
  margin-right: 96px;
  line-height: 0.5;
}

.and{
  text-transform: uppercase;
  font-family: "Things";
  font-size: 40px;
  margin-right: 50px;
}

.invitation-address {
  text-align: center;
  font-family: "Things";
  color: #606c52;
  text-transform: capitalize;
  font-size: 26px;
  margin-left: 90px;
  letter-spacing: 1px;
}
