@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Parslay";
  src: url("../fonts/Parslay.ttf") format("truetype");
}
@font-face {
  font-family: "Blinkwomen";
  src: url("../fonts/Blinkwomen.ttf") format("truetype");
}
.invitation-card {
 width: 563px;
 height: 787px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border-radius: 10px;
  background-color: #e8eae7;
  padding: 50px 30px;
  margin: 0 auto;
  justify-content: center;
}

.invitation-title {
  font-family: "Blinkwomen";
  letter-spacing: 3px;
  word-spacing: 2px;
  font-size: 50px;
  line-height: 0.8;
  margin-top: 20px;
  color: #454444;
}
.groom-bride-section {
  font-size: 40px;
  color: #454444;
  font-family: "Parslay";
  letter-spacing: 5px;
}
.invitation-date {
  letter-spacing: 3px;
  color: #454444;
  font-family: "Parslay";
}
img.heart-grp2 {
  width: 50px;
  position: relative;
  right: 60px;
}
.groom-bride-section {
  font-size: 30px;
  color: #454444;
  font-family: "Parslay";
}
.invitation-address{
  font-size: 20px;
  color: #454444;
  font-family: "Parslay";
}
.following-party {
  font-size: 20px;
  color: #454444;
  font-family: "Parslay";
  margin-top: 20px;
}
.couple-img {
  width: 100%;
}

.heart-grp {
  width: 50px ;
  
}

img.heart-img {
  width: 25px;
}

.invitation-time{
  font-size: 16px;
  letter-spacing: 3px;
  font-size: 14px;
  color: #454444;
  font-family: "Parslay";
  font-weight: 500;
  text-align: center;
}
