@font-face {
    font-family: 'romantic-couple-bold';
    src: url('../fonts/romantic-couple-bold.ttf') format('truetype');
}

.main-section {
    max-width: 562px;
    width: 100%;
    height: 787px;
    flex-direction: column;
    display: flex;
    padding: 30px 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://ecsiondevstorage.blob.core.windows.net/wedding-storage/AD3057CB-C290-4254-9F63-CC9FEE7CB982.png);
    font-family: "Poppins", sans-serif;
}


.title {
    font-size: 38px;
    font-family: 'romantic-couple-bold';
    color: #4C696F;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 54px;
}

.description {
    width: 100%;
    padding: 0 10px;
}
.description p {
    text-align: center;
    margin-top: 20px;
    color: #4C696F;
}
.relation-name{
    color: #4C696F  ;
    font-weight: 600;
    font-size: 18px;
}
.relative-name{
    color: #4C696F;
}
.couple-image {
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.couple-image img {
    margin: 0 auto;
    object-fit: contain;
    max-width: 300px;
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 6px;
}


@media (max-width: 562px) {
    .main-section {
        min-height: 100vh;
        background-image: url(https://ecsiondevstorage.blob.core.windows.net/wedding-storage/AF825FD7-2727-4B1C-A340-BC7E8C0744FF.png);

    }
    .couple-image {
        text-align: center;
        width: 100%;
    }
}