/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Font Faces */
@font-face {
  font-family: "Coronet";
  src: url(".https://react-web-composer.ecsion.com/fonts/Coronet.ttf") format("truetype");}

/* Invitation Card Styling */
.invitation-card {
  width: 562px;
  height: 787px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  text-transform: capitalize;
  text-align: center;
}

.invitation-title {
  font-family: "Coronet";
  font-size: 56px;
  color: #c5942c;
  max-width: 400px;
  margin-bottom: 10px;
}

.invitation-description {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: italic;
  max-width: 300px;
  font-weight: 600;
  color: #662b1b;
}

.groom-bride-section {
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-transform: uppercase;
  text-align: center;
}

.your-name {
  font-weight: 500;
  margin-right: 70px;
  font-size: 50px;
  font-family: "Coronet";
  color: #c5942c;
  text-transform: capitalize;
}

.and {
  font-size: 18px;
  color: #c5942c;
  margin: 5px 0;
  font-weight: 700;
  font-family: "Coronet";
}

.partner-name {
  font-weight: 500;
  margin-left: 70px;
  font-size: 50px;
  font-family: "Coronet";
  color: #c5942c;
  text-transform: capitalize;
}

.invitation-date-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Montserrat";
  color: #662b1b;
}

.invitation-year,
.invitation-date,
.invitation-month {
  margin: 0 5px;
}

.invitation-year {
  font-size: 17px;
  font-weight: 500;
}

.invitation-date {
  font-size: 27px;
  font-weight: 600;
  padding: 0 7px;
  margin: 0 7px;
  border-left: 1px solid #662b1b;
  border-right: 1px solid #662b1b;
}

.invitation-month {
  font-size: 17px;
  font-weight: 500;
}

.invitation-time {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: #662b1b;
  margin-bottom: 20px;
}

.invitation-address {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #662b1b;
  margin-bottom: 25px;
  max-width: 300px;
  font-family: "Montserrat";
  text-align: center;
}

.following-party {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  color: #662b1b;
  text-align: center;
  text-transform: uppercase;
}
