
@font-face {
  font-family: 'Jaqartall Regular';
  src: url('../fonts/Jaqartall-gxXzP.woff') format('woff');
  }

  @font-face {
    font-family: 'Things';
    src: url('../fonts/Things.ttf') format('truetype');
  }

.invitation-card {
  width: 675px;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-transform: capitalize;
  text-align: center;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #000;
}

.invitation-date-section {
  font-family: 'Jaqartall Regular';
  transform: rotate(-20deg);
  text-transform: capitalize;
  font-size: 30px;
  text-align: end;
  letter-spacing: 3px;
  line-height: 0.9;
  margin-right: 80px;
}

.invitation-title {
  font-family: 'Jaqartall Regular';
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 10px;
  text-align: start;
  letter-spacing: 5px;
  transform: rotate(-10deg);
  font-size: 56px;
}

.groom-bride-section {
  font-family: 'Things';
  font-size: 30px;
  line-height: 1;
}

.invitation-address, .invitation-time{
  font-family: 'Things';
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  max-width: 200px;
}
