
@font-face {
  font-family: 'Jaqartall Regular';
  src: url('../fonts/Jaqartall-gxXzP.woff') format('woff');
  }

  @font-face {
    font-family: 'Things';
    src: url('../fonts/Things.ttf') format('truetype');
  }

.invitation-card {
  width: 675px;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: center;
  text-transform: capitalize;
  padding: 30px 30px 30px 350px;
  margin: 0 auto;
  color: #fff;
}

.invitation-date-section {
  font-family: 'Jaqartall Regular';
  text-transform: capitalize;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 0.9;
}

.invitation-title {
  font-family: 'Jaqartall Regular';
  text-transform: capitalize;
 
  letter-spacing: 5px;
  font-size: 56px;
}

.groom-bride-section {
  font-family: 'Things';
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 1;
}

.invitation-address, .invitation-time {
  font-family: 'Things';
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 0 auto;
  font-weight: 600;
  max-width: 200px;
}
