@font-face {
  font-family: "Mshtakan";
  src: url("../fonts/MshtakanRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Omeliana";
  src: url("../fonts/Omeliana.ttf") format("truetype");
}

.invitation-card {
  width: 787px;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: "Mshtakan";
  color: #1b1818;
}

.invitation-date-section {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.invitation-month,
.invitation-year {
  font-size: 180px;
  position: relative;
  font-weight: 600;
  left: 90px;
  color: #c4c4c6;
  letter-spacing: 10px;
  line-height: 1.2;
}

.invitation-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}

.groom-bride-section {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
}
.couple-img img {
  width: 100%;
  max-width: 360px;
  height: 555px;
  object-fit: cover;
}

.invitation-address {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
}
